---
import Layout from "../Layout/BaseLayout.astro";
---

<Layout title="Astro Image LCP">
	<h1>Astro Image LCP.</h1>
	<ul role="list">
		<li><a href="/default">Default Example</a></li>
	</ul>
</Layout>
