---
import Layout from "$layouts/BaseLayout.astro";
---

<Layout title="Image LCP">
	<h1>Image LCP Tests.</h1>
	<p>
		A non-exhaustive list of Largest Contentful Paint (LCP) tests, evaluating the impact of the
		attributes <code>decoding</code> and <code>loading</code> on image loading performance.
	</p>
	<p>
		Each page represents a different example, and includes a synchronous script to emphasise results
		(delay of 1000ms).
	</p>
	<p>Image used for tests (default): 4000px x 2666px, 2.03MB JPG.</p>
	<p>
		Tests makes use of Astro's <a
			href="https://docs.astro.build/en/guides/images/#generating-images-with-getimage"
			target="_blank"
			rel="noopener noreferrer"><code>getImage</code></a
		> to generate: 860px x 573px, 246kB WebP.
	</p>
	<p>
		Image source: <a
			href="https://unsplash.com/photos/a-colorful-abstract-background-with-wavy-lines-Ac02zYZs22Y"
			>Maxim Berg</a
		>
	</p>
	<article>
		<h2>Examples</h2>
		<ul>
			<li>
				<a href="/default/">Image Default (Baseline)</a>
			</li>
			<li>
				<h3>Decoding</h3>
				<ul>
					<li><a href="/decoding/async/">Async Decoding</a></li>
					<li><a href="/decoding/auto/">Auto Decoding</a></li>
					<li><a href="/decoding/sync/">Sync Decoding</a></li>
				</ul>
			</li>
			<li>
				<h3>Loading</h3>
				<ul>
					<li><a href="/loading/eager/">Eager Loading</a></li>
					<li><a href="/loading/lazy/">Lazy Loading</a></li>
				</ul>
			</li>
			<li>
				<h3>Decoding & Loading</h3>
				<ul>
					<li><a href="/decoding-loading/async-eager/">Async Decoding & Eager Loading</a></li>
					<li><a href="/decoding-loading/async-lazy/">Async Decoding & Lazy Loading</a></li>
					<li><a href="/decoding-loading/auto-eager/">Auto Decoding & Eager Loading</a></li>
					<li><a href="/decoding-loading/auto-lazy/">Auto Decoding & Lazy Loading</a></li>
					<li><a href="/decoding-loading/sync-eager/">Sync Decoding & Eager Loading</a></li>
					<li><a href="/decoding-loading/sync-lazy/">Sync Decoding & Lazy Loading</a></li>
				</ul>
			</li>
			<li>
				<h3>Background</h3>
				<ul>
					<li><a href="/background/">Background Image</a></li>
					<li><a href="/background/with-lqip/">Background Image With LQIP</a></li>
					<li>
						<a href="/background/with-responsive-lqip/">Background Image With Responsive LQIP</a>
					</li>
					<li><a href="/background/image-lqip/">Image With Background LQIP</a></li>
					<li>
						<a href="/background/image-lqip-with-preload/">Image With Background LQIP & Preload</a>
					</li>
				</ul>
			</li>
		</ul>
	</article>
</Layout>
