<br />
<br />
<br />
<footer>
	<p>
		This project is part of a monorepo. <a
			href="https://github.com/chrismwilliams/astro-apophenia/tree/main/apps/lcp"
			>View Source Code</a>
	</p>
	<p>&copy; Chris Williams {new Date().getFullYear()}</p>
</footer>
