---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Async Decoding & Lazy Loading Example - Image LCP">
	<h1>Async Decoding & Lazy Loading Example.</h1>
	<ImageTest decoding="async" loading="lazy" />
	<p>Note: this is currently Astro Image's default.</p>
</ImageLayout>
