---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Auto Decoding & Lazy Loading Example - Astro Image LCP">
	<h1>Auto Decoding & Lazy Loading Example.</h1>
	<ImageTest decoding="auto" loading="lazy" />
</ImageLayout>
