---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Sync Decoding & Eager Loading Example - Astro Image LCP">
	<h1>Sync Decoding & Eager Loading Example.</h1>
	<ImageTest decoding="sync" loading="eager" />
</ImageLayout>
