---
import styles from "@chrismwilliams/css/global.css?raw";
import BaseHead from "@chrismwilliams/components/BaseHead.astro";
import Nav from "../components/Nav.astro";

type Props = {
	title?: string;
};

const { title = "Astro Image LCP" } = Astro.props;
---

<html lang="en">
	<BaseHead title={title}>
		<Fragment slot="after-title">
			<style is:inline set:html={styles}></style>
		</Fragment>
	</BaseHead>
	<body>
		<Nav />
		<slot />
	</body>
</html>
