---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Aysnc Decoding Example - Image LCP">
	<h1>Async Decoding Example.</h1>
	<ImageTest decoding="async" />
</ImageLayout>
