---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Auto Decoding Example - Astro Image LCP">
	<h1>Auto Decoding Example.</h1>
	<ImageTest decoding="auto" loading={false} />
</ImageLayout>
