---
import { Image } from "astro:assets";
import ImageLayout from "$layouts/ImageLayout.astro";
import image from "$assets/maxim-berg-unsplash.jpg";
---

<ImageLayout title="Sync Decoding Example - Astro Image LCP">
	<h1>Sync Decoding Example.</h1>
	<Image
		src={image}
		alt="A colorful abstract background with wavy lines by Maxim Berg"
		decoding="sync"
		loading={false}
	/>
	<p></p>
	<dl>
		<dt>Decoding</dt>
		<dd><strong>sync</strong></dd>
		<dt><s>Loading</s></dt>
		<dd><strong>false</strong></dd>
		<dt>Image</dt>
		<dd>WebP &mdash; 1.3 MB &mdash; 4000px x 2666px</dd>
	</dl>
	<p>Note: <strong>Bold</strong> repesents attribute values different from default.</p>
</ImageLayout>
