---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Eager Loading Example - Image LCP">
	<h1>Eager Loading Example.</h1>
	<ImageTest loading="eager" />
</ImageLayout>
