---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Eager Loading Example - Astro Image LCP">
	<h1>Eager Loading Example.</h1>
	<ImageTest decoding={false} loading="eager" />
</ImageLayout>
