---
import ImageLayout from "$layouts/ImageLayout.astro";
import ImageTest from "$components/ImageTest.astro";
---

<ImageLayout title="Lazy Loading Example - Image LCP">
	<h1>Lazy Loading Example.</h1>
	<ImageTest loading="lazy" />
</ImageLayout>
